<div class="container">
	<div class="row">
		<div class="col-lg-6 col-xxl-4">
			<span *ngxPermissionsOnly="['user-profile_read']">User Profile Read</span>
			<kt-widget1-sales-stat cssClasses="card-stretch gutter-b"></kt-widget1-sales-stat>
		</div>
		<div class="col-lg-6 col-xxl-4">
			<kt-widget9-recent-activities cssClasses="card-stretch gutter-b"></kt-widget9-recent-activities>
		</div>
		<div class="col-lg-6 col-xxl-4">
			<kt-widget7-weekly-sales cssClasses="card-stretch card-stretch-half gutter-b"></kt-widget7-weekly-sales>
			<kt-widget12-new-users cssClasses="card-stretch card-stretch-half gutter-b"></kt-widget12-new-users>

		</div>
		<div class="col-lg-6 col-xxl-4 order-1 order-xxl-1">
			<kt-widget1-tasks-overview cssClasses="card-stretch gutter-b"></kt-widget1-tasks-overview>
		</div>
		<div class="col-xxl-8 order-2 order-xxl-1">
			<kt-widget2-new-arrivals cssClasses="card-stretch gutter-b"></kt-widget2-new-arrivals>
		</div>
		<div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
			<kt-widget3-authors cssClasses="card-stretch gutter-b"></kt-widget3-authors>
		</div>
		<div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
			<kt-widget4-todo cssClasses="card-stretch gutter-b"></kt-widget4-todo>
		</div>
		<div class="col-lg-12 col-xxl-4 order-1 order-xxl-2">
			<kt-widget8-trends cssClasses="card-stretch gutter-b"></kt-widget8-trends>
		</div>
	</div>
</div>
